<img src="/public/assets/img/burgertransparent.png" alt="juicy burger" style="width: 150px; height: 200px" />

<h2>Eat Da Burger!</h2>

<ul>
    {{#each burgers}}
    <li>
        <p>
            {{this.id}}. {{this.burger}}
            <button data-burgerid="{{this.id}}" class="danger">
                Devour It!
            </button>
        </p>
    </li>
    {{/each}}
</ul>

<form id="addBurger" class="button-size">
    <textarea type="text" name="burger"></textarea>
    <br />
    <button class="btn btn-success" type="submit">Ready to Eat!</button>
</form>

<p>Enter a burger that you would like to eat and then click "Ready to Eat!"</p>